* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.header {
    display: flex;
    background-color: aqua;
    align-items: center;
    height: 64px;
}

h1 {
    font-size: 26px;
    padding-top: 18px;
}

.grey {
    color: gray;
}

.logo {
    padding-left: 24px;
    height: 50px;
}


.navbar {
    margin-left: auto;
    padding-right: 24px;
}

.navtab {
    padding-left: 16px;
}

.navtab:last-of-type {
    margin-right: 24px;
}

.blockone {
    display: flex;
    align-items: flex-start;
    background-color: lightblue;
}

.oneleft {
    width: 60%;
    height: auto;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
}

.oneright {
    width: 40%;
    margin-left: 24px;
    align-self: center;
}

.banner {
    width: 100%;
    height: auto;
    
}

.boxheading {
    font-size: 52px;
    width: 450px;
    font-weight: bolder;
}

.boxpara {
    font-size: 28px;
    width: 450px;
    
}

.startbut {
    width: 450px;
    padding-top: 8px;
    padding-bottom: 8px;;
    background-color: darkgray;
    color: white;
    font-size:24px ;
}

.blocktwo {
    display: flex;
}

.twoleft {
    background-color: aliceblue;
}

.infoimg {
    width: 100%;
    height: auto;
    padding: 32px 24px;
}

.infoheader {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 24px;
}

.infopara {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 20px;
    margin-bottom: 0;
}

.author {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
}

.righttwo {
    display: flex;
    width: 100%;
    padding-left: 16px;
    border: 1px solid gray;
}

.righttwo:last-of-type {
    background-color: lightgray;
}

.righttwo:first-of-type {
    padding-top: 16px;
}

.imgsml {
    width: 35%;
    height: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 16px;
}

.info {
    width: 65%;
    align-self: center;
    
}

.infosmlheader {
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 8px;
}

.infosmlpara {
    margin-bottom: 0;
    padding-bottom: 8px;
}

.inforead {
    text-decoration: none;
}

.blockthree {
    background-color: lightgreen;
}

.learnmainhead {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
    font-size: 40px;
}

.learn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 32px;
    row-gap: 32px;
    column-gap: 32px;
}

.imglearn {
    width: 100%;
    
}

.squares {
    background-color: aliceblue;
}

.infolearn {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    margin-bottom: 0;
}

.learnheader {
    font-size: 24px;
    padding-top: 16px;
}

.learncaps {
    font-size: 22px;
    padding-top: 8px;
}

.learncourses {
    font-size: 20px;
    padding-top: 8px;
}